<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="movie_table" style="text-align:center;">
    <style type="text/css">
    {% if requester = 'AnonymousUser' %}
    #remove_movie, #update_movie{
    display: none;
    }
    {% elif requester = 'admin'%}
    #up_vote_count, #down_vote_count{
    display: none;
    }
    {% endif %}
    </style>

    <h1>{{ movie.name_of_movie }}</h1>
    <table align="center" style="text-align:left;">
        <tr>
            <td><b>Director :</b></td>
            <td> {{ movie.movie_director }}</td>
        </tr>

        <tr>
            <td><b>Producer :</b></td>
            <td>{{ movie.movie_producer }}</td>
        </tr>

        <tr>
            <td><b>Cast :</b></td>
            <td>{{ movie.movie_cast_actor }}</td>
        </tr>

        <tr>
            <td><b>Cinematography:</b></td>
            <td>{{ movie.movie_cinematography }}</td>
        </tr>
        <tr>
            <td><b>Up Rating:</b></td>
            <td>{{ movie.rating.up_vote_count }}</td>
        </tr>
        <tr>
            <td><b>Down Rating:</b></td>
            <td>{{ movie.rating.down_vote_count }}</td>
        </tr>
        <tr>
            <td><b>Total Rating:</b></td>
            <td>{{ movie.rating.total_vote }}</td>
        <tr>
            <td><b>No. of Update</b></td>
            <td>{{ movie.times_of_updated }}</td>
        </tr>
        </tr>
        <tr>
            <td><input VALUE="Remove Movie" id="remove_movie" type="button"
                       onclick="window.location.href='{% url 'remove_movie' movie.id %}'"></td>
            <td><input VALUE="Update Movie" id="update_movie" type="button"
                       onclick="window.location.href='{% url 'update' movie.id %}'"></td>

            <td><input VALUE="Like" id="up_vote_count" type="button"
                       onclick="window.location.href='{% url 'like_movie' requester movie.id %}'"></td>

            <td><input VALUE="Unlike" id="down_vote_count" type="button"
                       onclick="window.location.href='{% url 'unlike_movie' requester movie.id %}'"></td>
        </tr>
    </table>


</div>

</body>
</html>